<?php
if (!isset($imasroot)) { //don't allow direct access to loginpage.php
	header("Location: index.php");
	exit;
}
//any extra CSS, javascript, etc needed for login page
	$placeinhead = "<link rel=\"stylesheet\" href=\"$imasroot/infopages.css\" type=\"text/css\" />\n";
	$placeinhead .= "<script type=\"text/javascript\" src=\"$imasroot/javascript/jstz_min.js\" ></script>";
	$nologo = true;
	require("header.php");
	if (!empty($_SERVER['QUERY_STRING'])) {
		 $querys = '?'.$_SERVER['QUERY_STRING'];
	 } else {
		 $querys = '';
	 }
	 $loginFormAction = $GLOBALS['basesiteurl'] . substr($_SERVER['SCRIPT_NAME'],strlen($imasroot)) . Sanitize::encodeStringForDisplay($querys);
	 if (!empty($_SESSION['challenge'])) {
		 $challenge = $_SESSION['challenge'];
	 } else {
		 //use of microtime guarantees no challenge used twice
		 $challenge = base64_encode(microtime() . rand(0,9999));
		 $_SESSION['challenge'] = $challenge;
	 }
	 $pagetitle = "About Us";
	 include("infoheader.php");
	 
?>
	


<div id="loginbox">
<form method="post" action="<?php echo $loginFormAction;?>">
<?php
	if ($haslogin) {
		if ($badsession) {
			if (isset($_COOKIE[session_name()])) {
				echo 'Problems with session storage';
			}  else {
				echo '<p>Unable to establish a session.  Check that your browser is set to allow session cookies</p>';
			}
		} else if (isset($line['password']) && substr($line['password'],0,8)=='cleared_') {
			echo '<p>Your password has expired since your account has been unused. Use the Reset Password link below to reset your password.</p>';
		} else {
			echo "<p>Login Error.  Try Again</p>\n";
		}
	}
?>
<b>Iniciar sesión</b>

<div><noscript>JavaScript no está habilitado. Se requiere JavaScript para <?php echo $installname; ?>. Por favor, habilita JavaScript y vuelve a cargar esta página</noscript></div>

<table role="presentation">
<tr><td><label for="username"><?php echo $loginprompt;?></label>:</td><td><input type="text" size="15" id="username" name="username" /></td></tr>
<tr><td><label for="password">Contraseña</label>:</td><td><input type="password" size="15" id="password" name="password" /></td></tr>
</table>
<div class=textright><input type="submit" value="Iniciar sesión"></div>

<div class="textright"><a href="<?php echo $imasroot; ?>/forms.php?action=newuser">Registrarse como nuevo estudiante</a></div>
<div class="textright"><a href="<?php echo $imasroot; ?>/forms.php?action=resetpw">¿Olvidaste tu contraseña?</a><br/>
<a href="<?php echo $imasroot; ?>/forms.php?action=lookupusername">¿Olvidaste tu nombre de usuario?</a></div>

<input type="hidden" id="tzoffset" name="tzoffset" value=""> 
<input type="hidden" id="tzname" name="tzname" value=""> 
<input type="hidden" id="challenge" name="challenge" value="<?php echo $challenge; ?>" />
<script type="text/javascript">     
$(function() {
        var thedate = new Date();  
        document.getElementById("tzoffset").value = thedate.getTimezoneOffset();
        var tz = jstz.determine(); 
        document.getElementById("tzname").value = tz.name();
        $("#username").focus();
});
</script>  

</form>
</div>
<div class="text">
<p><?php echo $installname; ?> es una plataforma web para evaluación de matemáticas y gestión de cursos.</p>
 <img style="float: left; margin-right: 20px;" src="<?php echo $imasroot; ?>/img/screens.jpg" alt="Pantallas de computadora"/>

<p>Este sistema está diseñado para matemáticas, proporcionando la entrega de tareas, cuestionarios, exámenes, pruebas de práctica y diagnósticos con contenido matemático enriquecido. Los estudiantes pueden recibir retroalimentación inmediata en preguntas generadas algorítmicamente con respuestas numéricas o expresiones algebraicas.
</p>

<p>Si ya tienes una cuenta, puedes iniciar sesión usando el recuadro a la derecha.</p>
<p>Si eres un estudiante nuevo en el sistema, <a href="<?php echo $imasroot; ?>/forms.php?action=newuser">Regístrate como nuevo estudiante</a></p>
<p>Si eres un instructor, puedes <a href="<?php echo $imasroot;?>/newinstructor.php">solicitar una cuenta</a></p>

<p>También disponible:
<ul>
<li><a href="<?php echo $imasroot;?>/info/enteringanswers.php">Ayuda para estudiantes para ingresar respuestas</a></li>
<li><a href="<?php echo $imasroot;?>/docs/docs.php">Documentación para instructores</a></li>
</ul>

<br class=clear>
<p class="textright"><?php echo $installname;?> está impulsado por <a href="http://www.imathas.com">IMathAS</a> &copy; 2006-<?php echo date("Y");?> David Lippman</p>
</div>
<?php 
	require("footer.php");
?>
